<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="hostednetwork.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="hostednetwork.lang" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <hostednetwork.Properties.Settings>
            <setting name="currentLang" serializeAs="String">
                <value/>
            </setting>
            <setting name="password" serializeAs="String">
                <value/>
            </setting>
            <setting name="ssid" serializeAs="String">
                <value/>
            </setting>
            <setting name="isLaunched" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isExpanded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isStartup" serializeAs="String">
                <value>True</value>
            </setting>
        </hostednetwork.Properties.Settings>
        <hostednetwork.lang>
            <setting name="langDefault" serializeAs="String">
                <value>english</value>
            </setting>
            <setting name="langRussian" serializeAs="String">
                <value>russian</value>
            </setting>
            <setting name="langEnglish" serializeAs="String">
                <value>english</value>
            </setting>
            <setting name="savedlang" serializeAs="String">
                <value/>
            </setting>
        </hostednetwork.lang>
    </userSettings>
</configuration>
